* {
    background-color: bisque;
}

.tagline {
    color: white;
    text-align: left;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: left;
}